.profile__job {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    margin: 0;
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 189px;
    justify-content: center;
}

@media (min-width: 1280px) {
    .profile__job {
        font-size: 18px;
        line-height: 21.78px;
        padding: 0;
        max-width: 336px;
        justify-content: start;
    }
}