.elements {
    margin: 36px 19px 0 19px;          
}

@media (min-width: 880px) {
    .elements {
        margin: 45px 50px 0 50px;                   
    }
}

@media (min-width: 1280px) {
    .elements {
        margin: 45px auto;
        max-width: 882px;
    }
}