.element__like-button {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/element_like-button.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    margin-top: 5px;   
}

.element__like-button:hover{
    opacity: 0.5;
}